.header {
    height: 78px;
    width: 100%;
    background-color: #f5ba13;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header-heading {
    color: #fff;
    margin-left: 32px;
    font-weight: 500;
}
